@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap');

/* font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif; */

/* #252525 svart
#FF6803 orange 
#F8F9FE vit
*/



html, body {
    background-color: #FFFFFF;
    padding: 0;
    margin: 0;
    
}


a:hover{
    color: #FF6803;
}

.buttontry:hover{
    background-color: #ff6803;
}

