@import "standard.css";

/* NAVBAR TOP START*/



.navbar-top {
    height: 113px;
    width: 100%;
    position: fixed;
    }

.line{
    display: flex;
    justify-content: space-around;
    
}

 .navbar-top-items{
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    }


.logo{
    display: flex;
}

.navbar-top-links{
    display: flex;
    align-items: center;
} 



.buttontry{
    font-family: 'Roboto', sans-serif;
    background-color: #F8F9FE;
    border-color: #FF6803;
    border-radius: 5px;
    font-size: 17px;
    font-weight: 500;
    margin-left: 30px;
    padding: 10px;
}

ul{
     list-style:none;
}

li{
    display: inline-flex;
}


li a{
    font-family: 'Roboto', sans-serif;
    color: #252525;
    Text-decoration: none; 
    font-size: 17px;
    font-weight: 500;
    padding: 25px;
}  




/* NAVBAR TOP END*/
