@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Slab&display=swap');

/* 
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Slab', serif;
*/


html, body {
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Slab', serif;
    color: #626262;
}

.border {
    border: 1px solid #599c9c;
}

.navbar-top .navbar-top-items .social-media .fa-facebook-f {
    font-size: 1rem;
    margin-right: 20px;
}

.navbar-top .navbar-top-items .social-media .fa-twitter {
    font-size: 1rem;
    margin-right: 20px;
}

.navbar-top .navbar-top-items .social-media .fa-google-plus-g {
    font-size: 1rem;
    margin-right: 20px;
}

.navbar-top .navbar-top-items .social-media .fa-instagram {
    font-size: 1rem;
    margin-right: 20px;
}

a {
color: #2BAAEC
}

a:hover {
    color: #25E6C8;
  }

.meny a {
    color: black;
    
  }

 .meny a:hover {
    color: #25E6C8;
  }

  .navbar-under .navbar-under-items .meny .home{
    margin-right: 20px;
    
  }

  .navbar-under .navbar-under-items .meny .about-us{
    margin-right: 20px;

}

.navbar-under .navbar-under-items .meny .services{
    margin-right: 20px;

}

.navbar-under .navbar-under-items .meny .contact{
    margin-right: 20px;

}

.showcase-text .clinicbtn a:hover{
    background-color: black;
    color: black;
}

.button a:hover{
    color:black;
    background-color: black;
}

.clinicbtn:hover{
    color: #2BAAEC !important;
    background-color: #2BAAEC !important;
}