@import "standard.css";

/* NAVBAR TOP START*/


.navbar-top {
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    width: 100%;
    position: static;
    position: absolute;
    position: relative;
    position: sticky;
    /* position: fixed; */
    
}


.navbar-top-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-top-items i {
    font-size: 1.2em;
    
}

.navbar-top .navbar-top-items .working-hour {
    font-size: 1rem;
    display: flex;
    align-items: center;
}

.navbar-top .navbar-top-items .working-hour p {
    margin-left: 0.3rem;
    font-size: 1rem;
    margin-top: 17px;
}

.navbar-top .navbar-top-items .working-hour i {
    
    font-size: 20px;
    color: #2BAAEC;
    
}

/* NAVBAR TOP END*/


/* NAVBAR UNDER START*/
.navbar-under {
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 180px;
    
    
}

.navbar-under .navbar-under-items {
display: flex;
justify-content: space-between;
}

.navbar-under .navbar-under-items .meny a{
Text-decoration: none;

}
.navbar-under .navbar-under-items .meny{
display: flex;
align-items: center;
}


/* NAVBAR UNDER END*/

/* SHOWCASE START*/
.showcase{
    background-color: #DEDEDE;
    display: flex;
    justify-content: space-between;
    height:700px;
    /* width: 100%; */
    align-items: flex-end;
}

.showcase .container {
    width: 100%;

}

.showcase .showcase-items{
    display: flex;
    justify-content: space-between;
}

.showcase .showcase-items .female{
    display: flex;
}

.showcase .showcase-items .showcase-text {
    display: flex;
    flex-direction: column;
    margin-left: 100px; 
    margin-top: 160px;

}

.showcase .showcase-items .showcase-text .modern {
    display: flex;
    flex-direction: column;
    font-size: 60px;
    color: #363636;
    }



    #modern2{
        margin-top: -35px;
    }


.showcase .showcase-items .showcase-text .our-clinic{
    display: flex;
    margin-top: 10px;
    flex-direction: column;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
}

.our-clinic{

}

#our-clinic2{
    margin-top: -15px;
}

.showcase .showcase-items .showcase-text .clinicbtn{
    display: flex;
    align-items:center;
    justify-content: center;
    width: 191px;
    height: 60px;
    background-color:#25E6C8;
    border:#25E6C8;
    border-radius: 10px;
    margin-top: 20px;
    
}


/* SHOWCASE END*/

/* ABOUT US START*/

.aboutus
{
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height:811px;
}

.aboutus .male {
    display: flex;
    justify-content:flex-end;

}





/* ABOUT US END*/